 <div id="fullpage">

   <app-taskbar></app-taskbar>
  <div  class=left>
   <app-body></app-body>  
 </div>
<div class=right>
     
   <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <fieldset class=center>
      <div class="form-group">
        <label>Asset Id</label>
        <input type="text"
               class="form-control" name="asset_id"  ngModel required #first="ngModel">
      </div> 

   <div class="input">
      <input type="submit" value="delete" id="delete">
      <a [routerLink]="['/dashboard']" class="btn btn-link">Cancel</a>
    </div>
     </fieldset>
  </form>
  </div>
</div>