<div class="row">
  <div class="column left">
<div id="nav-container">
	<div id="inst-address">
			<a routerLink="/addassets" routerLinkActive="active"> Add Assets</a>
			<br>
			<a routerLink="/deleteassets" routerLinkActive="active"> Delete Assets</a>
			<br>
			<a routerLink="/totalassets" routerLinkActive="active"> Total Assets</a>
			<br>
			<a routerLink="/addtorepair" routerLinkActive="active"> Add to Repair</a>
			<br>
			<a routerLink="/assignassets" routerLinkActive="active"> Assign Assets</a>
			<br>
			
				<a href="http://www.mnsu.edu"> Minnesota State University,Mankato</a>

			<p>
				117 Centennial Student union<br>
				Mankato,MN 56001<br>
				USA </p>
			phone:<br>
			507-389-1866<br>
			Fax:<br>
			507-389-2227

	</div>
</div></div>
 <div class="column right">
<router-outlet></router-outlet>
</div>
</div>
