<nav class="navbar navbar-default" id="top-nav-bar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <div class="dropdown">
            <button class="dropbtn">Home</button>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Assets <i class="arrow down"></i></button>
            <div class="dropdown-content">
              <a href="#">Available Assets</a>
              <a href="#">Assigned Assets</a>
              <a href="#">Damaged Assets</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Vendors <i class="arrow down"></i></button>
            <div class="dropdown-content">
              <a href="#">Vendors and Assets</a>
              <a href="#">Assets under repair</a>
              <a href="#">Assets purchase details</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Employers <i class="arrow down"></i></button>
            <div class="dropdown-content">
              <a href="#">Employee and Project</a>
              <a href="#">Employee and Assets</a>
              <a href="#">Sprint Events</a>
              <a href="#">Projects</a>
              <a href="#">Clients and Assigments</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Location <i class="arrow down"></i></button>
            <div class="dropdown-content">
              <a href="#">Asset Location</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Logout</button>
          </div>
        </div>
    </div>
</nav>
