<form novalidate>
  <fieldset>
  <div class="form-group">
      <label>Asset_id</label>
      <input type="text"
             class="form-control">
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text"
             class="form-control">
    </div>

    <div class="form-group">
      <label>Brand</label>
      <input type="text"
             class="form-control">
    </div>
  </fieldset>

  <div class="form-group">
    <label> cost</label>
    <input type="text"
           class="form-control">
  </div>

  <div class="form-group">
    <label>Passwor</label>
    <input type="password"
           class="form-control">
  </div>

  <div class="form-group">
    <label>Vendor_id</label>
    <select class="form-control">
      <option value="">Please select a language</option>
    </select>
  </div>
</form>