:host {
	flex-grow: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 140px;
}

div.input {
	position: relative;
}

div.input label {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	background: white;
	padding: 5px 2px;
}

div.input input {
	padding: 10px 20px;
	font-size: 15px;
	outline: 10;
}

div.input {
	margin-top: 50px;
}
